# Arquivos gerados
*.xlsx
*.csv

# Pastas locais / Exportações
ecc/
arquivos/
arquvos/
export/
.vscode/
.streamlit/

# Python / Ambientes Virtuais
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Jupyter Notebook
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db

# Playwright Automacao Web Scraping
.playwright_session/
.playwright_session